* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: #18191a;
}

main header {
  width: 100%;
  height: 60px;
  background-color: rgb(37, 37, 37);
  border-bottom: 1px solid #363738;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header #logo {
  width: 350px;
  height: 80%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo a {
  text-decoration: none;
}

#logo a i {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: white;
  background: linear-gradient(#19a9f8, #2374e1);
  margin-left: 25px;
  font-size: 35px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#logo .Search {
  width: 250px;
  height: 90%;
  /* background-color: chartreuse; */
  position: relative;
}

#logo .Search i {
  position: absolute;
  top: 13.5px;
  left: 10px;
  font-size: 16px;
  color: #acb0b6;
}

#logo input {
  color: #a9acb1;
  background-color: #3a3b3c;
  width: 100%;
  height: 100%;
  padding: 0 10px 0 35px;
  font-size: 20px;
  border-radius: 25px;
  border: none;
  outline: none;
}

header #pages {
  width: 680px;
  height: 80%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#pages .active {
  color: #2374e1;
  border-radius: 0;
  border-bottom: 5px solid #2374e1;
}

#pages ul {
  width: 100%;
  height: 100%;
  /* background-color: coral; */
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#pages ul a {
  padding: 5px 50px;
  color: #a9acb1;
  font-size: 30px;
}

#pages .noActive:hover a {
  background-color: #3a3b3c;
  border-radius: 5px;
}

header #menu {
  width: 350px;
  height: 80%;
  /* background-color: red; */
  display: flex;
  align-items: center;
}

#menu ul {
  width: 100%;
  height: 100%;
  /* background-color: coral; */
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#menu ul li {
  /* color: #a9acb1; */
  background-color: #3a3b3c;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu i {
  color: #e4e6eb;
  font-size: 24px;
}

#menu li:hover {
  background-color: #4e4f50;
}

section {
  width: 100%;
  height: auto;
  /* background-color: violet; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

section #left {
  width: 360px;
  height: 95vh;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #e0e2e7;
  margin-top: 15px;
}

#navigation #apps {
  width: 100%;
  height: auto;
}

#apps div {
  width: 328px;
  height: 43px;
  font-size: large;
  cursor: pointer;
  padding: 8px;
  font-weight: bold;
  margin-bottom: 7px;
  border-radius: 5px;
  transition: 0.2s;
}

#apps div i {
  font-size: larger;
  margin-right: 10px;
}

#apps div:hover {
  transition: 0.2s;
  background-color: rgba(78, 78, 78);
  height: 55px;
  font-size: 30px;
}

#apps div:hover i {
  transition: 0.2s;
  font-size: 40px;
}

#left #footer {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}

section #content {
  width: 740px;
  height: 11800px;
  padding: 0 32px;
  background-color: brown;
}

section #right {
  width: 360px;
  height: 95vh;
  background-color: palevioletred;
}

/* 
header {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
  height: 60px;
  background-color: rgb(37, 37, 37);
}

header button {
  cursor: pointer;
  height: 30px;
  border: none;
  font-size: 40px;
  background-color: rgb(37, 37, 37);
  margin: 5px 10px 5px 10px;
}

header button a {
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

header button a:hover {
  transition: 0.2s;
  font-size: 42px;
  color: rgb(0, 102, 255);
}

.theInfo {
  display: flex;
  justify-content: center;
}

.theInfo .Midle {
  width: 800px;
  margin: 10px 10px 0 10px;
  padding: 15px;
  border-radius: 25px;
  background-color: rgb(37, 37, 37);
}

.Midle #story {
  display: flex;
}

#story div {
  width: 180px;
  height: 280px;
  border-radius: 15px;
  margin: 10px;
  background-color: rgb(71, 71, 71);
}

.Midle #publishing {
  display: flex;
  flex-wrap: wrap;
}

#publishing div {
  width: 760px;
  height: 760px;
  border-radius: 15px;
  margin: 10px 5px 20px 5px;
  background-color: rgb(71, 71, 71);
}

.theInfo .side {
  width: 253px;
  margin-top: 10px;
  padding: 15px;
  border-radius: 25px;
  background-color: rgb(37, 37, 37);
}

#leftSide {
  flex-basis: 25%;
  position: sticky;
  top: 50px;
  bottom: 50px;
}

#leftSide div {
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  padding: 5px;
  margin-bottom: 7px;
  border: 1px solid rgb(71, 71, 71);
  border-radius: 15px;
  transition: 0.2s;
}

#leftSide div:hover {
  color: rgb(0, 102, 255);
  transition: 0.2s;
  text-align: center;
  cursor: pointer;
  font-size: 28px;
  padding: 5px;
  margin-bottom: 7px;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgba(78, 78, 78);
  border-radius: 15px;
}

#leftSide input {
  text-align: center;
  width: 222px;
  color: white;
  cursor: pointer;
  font-size: 24px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid rgb(71, 71, 71);
  border-radius: 15px;
  background-color: rgb(37, 37, 37);
  transition: 0.2s;
}

#leftSide input:hover {
  transition: 0.2s;
  cursor: pointer;
  padding: 5px;
  margin-bottom: 10px;
  background-color: rgba(78, 78, 78);
  border-radius: 15px;
}

#rightSide {
  position: sticky;
  align-self: flex-start;
  top: 50px;
}

#rightSide .contact {
  cursor: pointer;
  margin-top: 10px;
  padding-top: 3px;
  display: flex;
  width: 222px;
  height: 45px;
  border-radius: 15px;
  transition: 0.2s;
}

#rightSide .contact:hover {
  transition: 0.2s;
  padding: 2px;
  border-radius: 15px;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgba(78, 78, 78);
  color: rgb(0, 102, 255);
}

.contact .photo {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  background-color: burlywood;
  border-radius: 100%;
}

.contact span {
  font-weight: bolder;
  margin-top: 10px;
  font-size: 18px;
  vertical-align: bottom;
} */
